body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    border-radius: 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    height: 35px;
    display: flex;
    justify-content: space-around; /* Centra los elementos horizontalmente */
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s; /* Agrega una transición suave al color al pasar el mouse */
}

nav a:hover {
    color: #c3c1be;
}
nav li:hover {
    transform: scale(1.1); /* Agranda el elemento al pasar el mouse */
}
.fotoGrande{
    text-align: center;
    position: relative;
}
.fotoGrande img{
    margin-top: 35px;
    width: 1000px;
    height: 600px;
    min-width: 10px;
    transition: all .5s;
    border: 2px black solid;
}
.fotoGrande h1{
    color: rgb(78, 78, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Jude{
    border-radius: 10px;
}
.Jude:hover {
    transform: scale(1.09); /* Escala la foto al 120% al pasar el ratón sobre ella */
}
.fila2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.fila2 img{
    transition: all .5s;
    border: 2px black solid;
}
.fila2 img:hover{
    transform: scale(1.09);
}
.titulos{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    text-align: center;
    color: rgb(78, 78, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-content li {
    display: inline;
    margin-right: 15px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}