body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    height: 35px;
    display: flex;
    justify-content: space-around; /* Centra los elementos horizontalmente */
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s; /* Agrega una transición suave al color al pasar el mouse */
}

nav a:hover {
    color: #c3c1be;
}
nav li:hover {
    transform: scale(1.1); /* Agranda el elemento al pasar el mouse */
}
.palmares{
    width: 100%;
    height: 80px;
    font-family: 'Emojis', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0;
}
.palmares h1{
    display: flex;
    justify-content: center;
}
#P2{
    border: 3px solid goldenrod;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.cajagrande1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo1{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.trofeo1 img{
    float: left;
    border-radius: 10px; 
}
.tt1{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo2{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha{
    float: right;
    border-radius: 10px; 
}
.izquierda{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cajagrande3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo3{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha3{
    float: right;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.izquierda3{
    float: left;
    border-radius: 10px;
}
.tt3{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo4{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha4{
    float: right;
    border-radius: 10px; 
}
.izquierda4{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cajagrande5{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo5{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha5{
    float: right;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.izquierda5{
    float: left;
    border-radius: 10px;
}
.tt5{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande6{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo6{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha6{
    float: right;
    border-radius: 10px; 
}
.izquierda6{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cajagrande7{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo7{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha7{
    float: right;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.izquierda7{
    float: left;
    border-radius: 10px;
}
.tt7{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande8{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo8{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha8{
    float: right;
    border-radius: 10px; 
}
.izquierda8{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt8{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cajagrande9{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo9{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha9{
    float: right;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.izquierda9{
    float: left;
    border-radius: 10px;
}
.tt9{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande10{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo10{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha10{
    float: right;
    border-radius: 10px; 
}
.izquierda10{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt10{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cajagrande11{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo11{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha11{
    float: right;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.izquierda11{
    float: left;
    border-radius: 10px;
}
.tt11{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande12{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo12{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha12{
    float: right;
    border-radius: 10px; 
}
.izquierda12{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt12{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.cajagrande13{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo13{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha13{
    float: right;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.izquierda13{
    float: left;
    border-radius: 10px;
}
.tt13{
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.cajagrande14{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.trofeo14{
    height: auto;
    width: 70%;
    border: 2px solid #333; /* Borde sólido de 2 píxeles de ancho y color negro (#333) */
    border-radius: 10px; 
    background-color: #dbd8d8;
}
.derecha14{
    float: right;
    border-radius: 10px; 
}
.izquierda14{
    float: left;
    width: 220px;
    height: 260px;
    margin-left: 50px;
}
.tt14{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-content li {
    display: inline;
    margin-right: 15px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}