.menu {
    background-color: #333;
    text-align: center; 
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
}

.menu li {
    display: inline-block; 
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}
 
  h1 {
    color: #333;
    text-align: center;
  }
  
.audio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  audio {
    margin: 10px;
    margin-left: 600px;
  }

  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40%;
    margin-left: 500px;
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out; 
  }
  img:hover{
    transform: scale(1.1);
  }