body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilos para la barra de navegación */
.menu {
    background-color: #333;
    text-align: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

h1 {
    color: red;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el artículo */
article {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el enlace del artículo */
article a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

article a:hover {
    background-color: #333;
    color: white;
}